@font-face {
  font-family: "Montserrat";
  src: url("./../font/Montserrat/Montserrat-Regular.ttf");
}
@font-face {
  font-family: "Montserrat";
  font-weight: bold;
  src: url("./../font/Montserrat/Montserrat-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: bold;
  src: url("./../font/Roboto/Roboto-Bold.ttf");
}
@font-face {
  font-family: "Roboto";
  font-weight: normal;
  src: url("./../font/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "avenir";
  src: url("/assets/font/avenir-font/Avenir\ Light.ttf");
}
@font-face {
  font-family: "kepler";
  src: url("/assets/font/Kepler/keplerstd-light.otf");
}
@font-face {
  font-family: "futura";
  src: url("/assets/font/futura/Futura\ Light.otf");
}
@font-face {
  font-family: "Questrial";
  src: url("/assets/font/Questrial/Questrial-Regular.ttf");
}

body {
  font-family: "Montserrat", sans-serif;
  overflow-x: hidden;
  overflow-y: scroll;
  min-height: auto !important;
  animation: fadeInAnimation ease 0.8s;
}
main {
  display: none;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* Global Class Start */
.background-dark {
  background-color: rgba(0, 0, 0, 0.5);
}
.background-dark-thin {
  background-color: rgba(0, 0, 0, 0.3);
}

.txt-secondary {
  color: #b4b3b1;
}

.background-info {
  background-color: #e9f5fc;
}

.txt-secondary-solid {
  color: #696969;
}

.txt-primary {
  color: #54636b;
}

.background-secondary {
  background-color: #e8e8e8;
}

.background-gray {
  background-color: rgb(237, 237, 237);
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}

.py-10 {
  padding: 100px 0px;
}

.w-55{
  width: 55%;
}
/* Global Class End */

/* Navbar Start */
.wrapper-menu {
  width: 43px;
  height: 43px;
  background-color: white;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
  transition: transform 330ms ease-out;
  display: none;
  padding: 5px;
  z-index: 1050;
}

.wrapper-menu.open {
  transform: rotate(-45deg);
}

.line-menu {
  background-color: #43aed1;
  border-radius: 5px;
  width: 100%;
  height: 5px;
}

.line-menu.half {
  width: 50%;
}

.line-menu.start {
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: right;
}

.open .line-menu.start {
  transform: rotate(-90deg) translateX(2px);
}

.line-menu.end {
  align-self: flex-end;
  transition: transform 330ms cubic-bezier(0.54, -0.81, 0.57, 0.57);
  transform-origin: left;
}

.open .line-menu.end {
  transform: rotate(-90deg) translateX(-3px);
}

.mobile-nav {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  min-height: 100vh;
  display: block;
  z-index: 1040;
  background-color: #43aed1;
  display: none;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
  transition: 0.4s;
}

.mobile-nav.is-active {
  left: 0;
}

.mobile-nav ul li {
  list-style: none;
  font-family: "futura", sans-serif;
  line-height: 70px;
  color: white;
  font-size: 20px;
}

.mobile-nav ul li a {
  color: white;
}

.mobile-nav ul li ul {
  display: none;
}

.arrow-dropdown {
  left: 131px;
  top: 2px;
  position: absolute;
  transition: 0.4s;
}

.arrow-dropdown.active {
  transform: rotate(180deg);
}

.item-nav {
  border-top: 4px solid #fff;
}

.link-nav {
  font-weight: 400;
  color: black;
  font-family: "Questrial", san;
}

.item-nav.active:hover,
.item-nav:hover {
  border-top: 4px solid #a9b2b6;
}

.item-nav.active {
  border-top: 4px solid #828e93;
}

.link-nav:hover,
.link-nav.active:hover {
  color: #a9b2b6;
}

.navigation {
  box-shadow: 1px 1px 4px #acabab;
}

.nav-navbar {
  width: 100%;
  justify-content: center;
}

.icon-user {
  width: 25px;
  height: 25px;
  background-color: rgb(177, 177, 177);
}

/* Navbar End */

.pagination-section {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  bottom: 35%;
  left: unset;
  right: 21px;
  font-size: 30px;
  z-index: 2;
}

.page-item {
  list-style-type: none;
}

.pagination-section li a {
  width: 12px;
  height: 12px;
  border: 2px solid #b5b5b5;
  margin-bottom: 28px;
  list-style-type: none;
  display: block;
}

.pagination-section li a.active,
.pagination-section li a:hover {
  background-color: #b5b5b5;
  transition: 0.3s;
}

/* Hero */
.hero {
  height: 900px;
}

.hero-body {
  height: 900px;
}

.hero-body h1 {
  font-size: 58px;
  margin-top: 100px;
  line-height: 75px;
}

.hero-body .description {
  width: 55%;
  font-size: 19px !important;
  line-height: 25px;
}

.wa-image {
  width: 65px;
  height: 65px;
}

.wa-image-wrapper {
  position: fixed;
  bottom: 80px;
  left: unset;
  right: 30px;
  width: 65px;
  height: 65px;
  border-radius: 50%;
  font-size: 30px;
  z-index: 100;
}

.dropdown-item {
  display: none;
  position: absolute;
  width: 170px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.item-nav:nth-child(4):hover .dropdown-item {
  display: block;
  background: white;
}

/* about */
.about-image {
  height: 100%;
}

.about-text-wrap {
  height: 700px;
}

.checklist-item span {
  font-family: "Roboto";
}

.about-text p {
  font-size: 18px;
}

.btn-start-now {
  padding: 11px 30px;
  letter-spacing: 2px;
  font-weight: bold !important;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  outline: 2px solid black;
  color: black;
  transition: 0.3s;
}

.btn-start-now:hover {
  background-color: #a9b2b6;
  color: white;
  outline-color: #a9b2b6;
}
.about-text-second h1 {
  width: 40%;
  line-height: 55px;
}

.about-text-second p {
  font-size: 18px;
}

.about .box-card {
  width: 100%;
  background-color: #fff;
}

.about .box-card img {
  width: 160px;
}

.btn-learn-more {
  padding: 8px 30px;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  background: transparent;
  color: black;
  outline: 2px solid black;
  transition: 0.3s;
}

.btn-learn-more:hover {
  color: white;
  background-color: #a9b2b6;
  outline-color: #a9b2b6;
}

.about .box-card {
  padding: 40px 50px;
}

/* Subscribe */
.subscribe {
  background-color: #ededed;
  padding: 100px 0px;
}

.button-subscribe {
  padding: 12px 30px;
  color: white;
  background: black;
  border: 2px solid black;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
  transition: 0.3s;
  font-family: "avenir", sans-serif;
  font-weight: bold;
}

.button-subscribe:hover {
  background-color: rgb(66, 65, 65);
  border-color: rgb(66, 65, 65);
}

.button-subscribe:disabled {
  background-color: rgb(128, 126, 126);
  border-color: rgb(128, 126, 126);
}

.input-subscribe {
  border: 2px solid black;
  border-radius: 4px 0px 0px 4px;
}

.input-subscribe.error.fail-alert{
  border: 1px solid red;
}

.input-subscribe:focus {
  outline: none;
  border: 2px solid black;
  box-shadow: none;
}

/* History */
.history {
  background-color: #f5f5f5;
}

.history-title h1 {
  width: 38%;
  line-height: 55px;
}

.history-title p {
  width: 55%;
}

.history-card {
  padding: 29px 0px;
}

.video-history {
  object-fit: cover;
}

/* Projects */
.projects {
  background-color: #fafafa;
  padding-top: 20px;
  padding-bottom: 100px;
}

.projects-title h1 {
  width: 38%;
  line-height: 55px;
}

.project-wrap {
  display: none;
}

.projects-item {
  opacity: 0;
  height: 287px;
  left: 0;
  right: 0;
  z-index: 1;
  transition: 0.4s ease;
}

.hidden {
  display: none;
}

.projects-item:hover {
  opacity: 1;
}
.projects-image {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.projects-image img {
  width: 100%;
}

/* Our Clients */
.box-clients {
  width: 70%;
}

.our-clients-title h1 {
  width: 40%;
  line-height: 55px;
}

.box-clients img {
  width: 15%;
}

.slick-dots {
  position: absolute;
  bottom: -30%;
  left: 50%;
  transform: translateX(-50%);
}

.slick-dots li {
  display: inline-block;
}

.slick-dots li:not(:last-child) {
  margin-right: 5px;
}

.slick-dots li button {
  font-size: 0;
  border: none;
  background-color: #b5b5b5;
  width: 10px;
  height: 12px;
  border-radius: 50%;
}

.slick-dots .slick-active button {
  background-color: transparent;
  border: 2px solid #b5b5b5;
  height: 16px;
}

.box-clients-item .desc p {
  font-size: 16px;
}

.box-clients-item > .desc p:nth-child(2) {
  font-family: "Montserrat", sans-serif;
}

/* Partners */
.partners {
  background-color: #ededed;
  padding: 90px 60px;
  position: relative;
}

.img-partners {
  width: 5%;
}

/* Team */
.img-team {
  width: 15%;
}

.team i {
  font-family: "GFS Didot", serif;
}

.icon {
  width: 2%;
}

.arrow-prev,
.arrow-next {
  position: absolute;
  top: 40%;
  font-size: 50px;
  cursor: pointer;
  z-index: 1;
  text-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: 0.4s;
}

.arrow-next:hover,
.arrow-prev:hover {
  text-shadow: rgb(0 0 0 / 65%) 0px 3px 5px;
}

.arrow-prev {
  left: 30px;
}

.arrow-next {
  right: 30px;
}

/* Contact */
.contact {
  background-color: #fafafa;
}

.card-contact {
  width: 355px;
  padding: 33px 40px;
}

.card-contact i {
  font-size: 50px;
  color: #b5b5b5;
  width: 30%;
}

.card-contact:not(:nth-child(3)) {
  margin-bottom: 55px;
}

.card-contact h1 {
  color: #535f63;
  font-family: "Montserrat", sans-serif;
}

.card-contact a {
  color: rgb(85, 95, 99);
  font-family: "Montserrat", sans-serif;
  font-size: 19px;
}

.input-control-contact {
  padding: 3px 3px 3px 12px;
  outline: none;
  border: 2px solid #b5b5b5;
}

.input-control-contact::placeholder {
  font-family: "Roboto", serif;
  color: #b5b5b5;
}

.btn-submit-contact {
  background-color: #b5b5b5;
  color: #fff;
  padding: 11px 0px;
  transition: 0.3s;
}

.btn-submit-contact:hover {
  opacity: 0.7;
}

.input-control-contact.error.fail-alert {
  border: 1px solid red;
}

label.error.fail-alert {
  color: red;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
}

.contact .media-social-icon {
  width: 355px;
}

.message-contact {
  font-size: 16px;
}

/* Service Page */
.website-background {
  background-image: url("./../img/website-builder-img.jpg");
  background-size: contain;
}

.platform-background {
  background-image: url("./../img/platform-builder-img.jpg");
  background-size: cover;
}
.custom-background {
  background-image: url("./../img/custom-web-img.jpg");
  background-size: cover;
}

.services-background {
  background-image: url("./../img/services-img.jpg");
  background-size: contain;
}

.section-first {
  background-repeat: no-repeat;
  background-position: 0 70px;
  height: 650px;
}

.section-first-body {
  height: 650px;
}

.section-first h1 {
  font-family: "kepler", serif;
  font-size: 60px;
}

.section-second-text h1,
.section-third-text h1,
.section-fourth-text h1,
.section-fifth-text h1,
.section-sixth-text h1 {
  font-family: "kepler", serif;
  font-size: 50px;
}

.section-first-body p,
.section-second-text p,
.section-third-text p,
.section-fourth-text p,
.section-fifth-text p,
.section-sixth-text p {
  font-family: "avenir", sans-serif;
  font-size: 19px;
}

.section-second img,
.section-third img {
  object-fit: cover;
}

.btn-buat-sekarang {
  letter-spacing: 2px;
  outline: none;
  color: white;
  padding: 11px 15px;
  border: 2px solid white;
  transition: 0.3s;
}

.section-sixth-img-wrap {
  z-index: 100;
}

.btn-buat-sekarang:hover {
  background-color: white;
  color: black;
}

.btn-selengkapnya {
  background-color: transparent;
  border: 2px solid black;
  letter-spacing: 1px;
  color: black;
  transition: 0.3s;
}

.btn-selengkapnya:hover {
  background-color: black;
  color: white;
}

.img-services {
  border: 8px solid white;
}

/* Make Schedule */
.make-schedule {
  background-color: rgb(237, 237, 237);
  padding: 95px 0px;
}

.make-schedule h3 {
  font-family: "kepler", serif;
  font-size: 34px;
  color: black;
}

.make-schedule p {
  font-family: "avenir", sans-serif;
  font-size: 18px;
}

.btn-make-schedule {
  outline: none;
  border: 1px solid black;
  padding: 10px 23px;
  color: black;
  transition: 0.3s;
}

.btn-make-schedule:hover {
  background-color: black;
  color: white;
}

/* Login page */
.login a {
  font-family: "Roboto";
  transition: 0.4s;
}

.login a:hover {
  color: rgb(177, 177, 177);
}

.login-page,
.register-page,
.login-email,
.register-email,
.forgot-password {
  height: 100vh;
  background-color: #0d2130;
}

.login-page h1,
.login-page p,
.register-page h1,
.register-page p,
.login-email h1,
.login-email p,
.register-email h1,
.register-email p,
.forgot-password h1,
.forgot-password p,
.forgot-password-link,
label {
  font-family: "futura", sans-serif;
}

.login-page .atau,
.register-page .atau,
.login-email .atau,
.register-email .atau {
  width: 100%;
  text-align: center;
  border-bottom: 1px solid white;
  line-height: 0.1em;
  margin: 10px 0 20px;
}

.login-page .atau span,
.register-page .atau span,
.login-email .atau span,
.register-email .atau span {
  background: #0d2130;
  padding: 0 10px;
}

.register-link,
.login-link {
  color: #2f4356;
}

.login-page-body,
.register-page-body,
.login-email-body,
.register-email-body,
.forgot-password-body {
  width: 30%;
}

.btn-facebook {
  border: none;
  background-color: #3b5998;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
}
.btn-google {
  border: none;
  font-family: "Roboto", sans-serif;
  transition: 0.3s;
}

.btn-google:hover {
  background-color: rgb(25, 96, 202) !important;
}

.btn-facebook:hover {
  background-color: rgb(55, 76, 121);
}

.btn-email {
  background: transparent;
  border: 1px solid rgb(136, 136, 136);
  transition: 0.5s;
}
.btn-email:hover {
  border: 1px solid white;
}

.btn-submit-form {
  border: none;
  background-color: #808e96;
  padding: 12px 0px;
  color: white;
  font-family: "Roboto", sans-serif;
  transition: 0.5s;
}

.btn-submit-form:hover {
  color: #0d2130;
}

.link-close {
  position: fixed;
  touch-action: manipulation;
  top: 53px;
  right: 60px;
  background: none;
  z-index: 100;
}

.email-input,
.password-input {
  border: 0;
  outline: none;
  border-bottom: 1px solid white;
  padding: 5px 0px;
  color: white;
  font-family: "futura", sans-serif;
}

/* Footer */
.img-footer {
  width: 4%;
}

footer {
  padding: 40px 0px;
}

.media-social-icon i {
  color: #949494;
}

.footer-body p,
.footer-body a {
  font-size: 14px;
  color: #646464;
  font-family: "futura", sans-serif;
}

footer .media-social-icon i {
  margin-right: 20px;
}

/* Small for mobile */
@media screen and (max-width: 768px) {
  .nav-navbar {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .wrapper-menu {
    display: flex;
  }

  .pagination-section {
    display: none;
  }

  .login {
    display: none !important;
  }

  .hero-body h1 {
    font-size: 28px;
    line-height: 40px;
  }

  .hero {
    background-attachment: scroll;
    background-position: -220px 30px;
  }

  .hero,
  .hero-body {
    height: 450px;
  }

  .hero-body .description {
    width: 100%;
  }

  .hero-body .description p {
    font-size: 16px;
    line-height: 22px;
  }

  .wa-image {
    width: 25px;
    height: 25px;
  }

  .wa-image-wrapper {
    background-color: #fff;
    width: 65px;
    height: 65px;
    right: 25px;
    bottom: 25px;
  }

  .about {
    padding: 30px 0px;
  }

  .about-image-wrap {
    height: 230px;
    margin-bottom: 12px;
  }

  .about-image {
    background-size: cover;
    background-attachment: scroll;
    background-position: center -68px !important;
  }

  .about-text {
    padding-left: 0px !important;
  }

  .about-text-wrap {
    height: 467px;
  }

  .about-text h1,
  .about-text p {
    text-align: center;
  }

  .about-body {
    order: 2;
  }

  .about-button {
    justify-content: center !important;
  }
  .about-text-second {
    order: 1;
  }

  .about-card {
    order: 3;
  }

  .about-text-second h1 {
    width: 90%;
    line-height: 35px;
  }

  .about-text-second p {
    width: 100%;
  }

  .about .box-card {
    padding: 40px 10px;
  }

  .history-title h1 {
    width: 78%;
    line-height: 35px;
  }

  .history-title p {
    width: 90%;
  }

  .projects {
    padding-bottom: 60px;
  }
  .projects-title h1 {
    width: 70%;
    line-height: 35px;
  }

  .projects-title p {
    width: 90%;
  }

  .projects-item {
    height: 150px;
  }

  .projects-image img {
    height: 150px;
    width: 100%;
  }

  /* Our Clients */

  .our-clients-title h1 {
    width: 78%;
    line-height: 35px;
  }

  .box-clients {
    width: 100%;
    border-radius: 150px !important;
    padding: 12px 20px !important;
  }

  .box-clients-item {
    margin: 0;
    flex-direction: column;
    border-radius: 150px !important;
    padding: 40px 20px !important;
  }

  .box-clients-item img {
    width: 60% !important;
    margin: 0 !important;
  }

  .box-clients-item > .desc {
    text-align: center;
  }

  .slick-dots {
    bottom: 15px;
    padding: 0px;
  }

  /* Partners */
  .partners {
    background-color: #ededed;
    padding: 10px 20px;
  }

  .img-partners {
    width: 10 0%;
  }

  .img-team {
    width: 45%;
  }

  .icon {
    width: 10%;
  }

  .arrow-next,
  .arrow-prev {
    top: 30%;
  }

  .arrow-prev {
    left: 20px;
  }

  .arrow-next {
    right: 20px;
  }

  /* Contact */
  .card-contact {
    width: 100%;
  }

  .contact-card-wrapper,
  .contact-title-wrapper {
    width: 100% !important;
  }

  .contact .media-social-icon {
    display: none !important;
  }

  .contact-title-wrapper {
    padding-right: 0px;
  }

  .card-contact:not(:last-child) {
    margin-bottom: 20px;
  }

  .input-group-contact {
    flex-direction: column;
  }

  .input-group-contact input {
    width: 100%;
  }

  /* Service Page Start */

  .website-background {
    background-size: cover;
    background-position: -330px 60px;
  }

  .services-background {
    background-size: cover;
    background-position: center 60px;
  }

  .platform-background {
    background-position: 0px 60px;
  }

  .custom-background {
    background-size: cover;
    background-position: -50px 85px;
  }

  .section-first,
  .section-first-body {
    height: 520px;
  }

  .section-first-body h1 {
    margin-top: 80px;
    font-size: 40px;
    width: 100%;
  }

  .section-first-body p {
    width: 100%;
  }

  .section-second,
  .section-third,
  .section-fourth {
    padding: 20px 0px !important;
  }

  .section-second-text,
  .section-fourth-text {
    order: 2;
  }

  .section-second-text h1,
  .section-third-text h1,
  .section-fourth-text h1 {
    font-size: 38px;
  }

  .section-sixth-text p {
    width: 100% !important;
  }

  /* Service Page End */

  /* Login Page Start*/
  .login-page-body,
  .register-page-body,
  .login-email-body,
  .register-email-body,
  .forgot-password-body {
    width: 100%;
  }

  .link-close {
    top: 15px;
    right: 25px;
  }
  /* Login page End */

  /* Footer Start */
  .footer-body {
    flex-direction: column;
    justify-content: center !important;
    align-items: center;
    text-align: center;
  }

  .footer-body p:nth-child(2) {
    order: 3;
  }

  .footer-body p:nth-child(1),
  footer .media-social-icon {
    margin-bottom: 10px !important;
  }

  footer .media-social-icon i {
    margin-right: 10px;
  }
  /* Footer End */
}

/* Medium  For Tablet*/
@media screen and (min-width: 768px) and (max-width: 992px) {
  .website-background,
  .services-background {
    background-size: cover;
    background-position: center 60px;
  }

  .platform-background {
    background-position: 0px 60px;
  }

  .platform-home-body h1,
  .platform-home-body p {
    width: 90%;
  }

  .custom-home-body h1,
  .custom-home-body p {
    width: 100%;
  }

  .login {
    display: none !important;
  }

  .nav-navbar,
  .pagination-section {
    display: none;
  }

  .pagination-section {
    display: none;
  }

  .mobile-nav {
    display: flex;
  }

  .wrapper-menu {
    display: flex;
  }

  .about-image {
    background-position: 19px 55px;
  }

  .about-text-second h1,
  .projects-title h1 {
    width: 50%;
  }

  .history-title h1 {
    width: 55%;
  }

  .our-clients-title h1 {
    width: 51%;
  }

  .hero {
    background-position: 0px 30px;
  }
}

/* Medium for extra Tablet */
@media screen and (min-width: 992px) and (max-width: 1200px) {
  .website-background,
  .platform-background {
    background-size: cover;
  }

  .services-background {
    background-size: cover;
    background-position: center 40px;
  }

  .about-image {
    background-position: 19px 55px;
  }

  .platform-home-body h1,
  .platform-home-body p {
    width: 0%;
  }

  .profesional-blog {
    overflow-x: hidden;
  }
}

/* large for laptop */
@media screen and (min-width: 1200px) {
  .about-image {
    background-position: 107px 55px;
  }
}

/* Extra Large for Laptop L */
@media screen and (min-width: 1440px) {
  .website-background,
  .platform-background {
    background-size: cover;
  }

  .about-image {
    background-position: 72px 55px;
  }
}

/* Extra extra large */
@media screen and (min-width: 2560px) {
  .website-background,
  .platform-background {
    background-size: cover;
    background-position: 0px -150px;
  }

  .about-image {
    background-position: 550px 55px;
  }
}
